*{
    box-sizing: border-box;
}
body{margin:0}
#contenedorraiz {
	height: 100vh;
	width: 100%;
	overflow: auto;
}
#stickybar{
    overflow: auto;
    white-space: nowrap;
    max-width: 100%;
    position: sticky;
    top: -1px;
    background-color: rgba(255, 255, 255, 0.8);
}
#stickybar a{
    padding: 20px 20px;
    display: inline-block;
    color: black;
}
#stickybar a.active {
    color: red;
    text-decoration-color: red;
}